body {
    overflow-x: hidden;
    font-family: 'Overpass', sans-serif !important;
}

a > .gv-location-button {
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
}
a:hover > .gv-location-button {
    text-decoration: none;
}

p {
    font-size: 1.5em;
    line-height: 2em;
}

p.large {
    margin-top: 0;
    line-height: 2em;
    font-size: 1.8em;
    color: #fff;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #fff;
    text-decoration: none;
}

h1,
h3,
h4,
h5 h6 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
    color: black !important;
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url('./assets/img/bg.png');
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 4em;
    padding-bottom: 2em;
}
header .intro-text img {
    width: 25vw;
    height: auto;
}
header .intro-table {
    padding-bottom: 6rem;
}

header .intro-text .intro-lead-in {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    text-transform: none;
    font-weight: 400;
}

#carousel {
    background-color: #d4bb70;
}
.carousel-heading {
    font-weight: 700;
    text-transform: none;
    padding-bottom: 1em;
}
.carousel-body {
    width: 80%;
    line-height: 1.5em;
}
.gvMainSection--headline {
    font-size: 4vw !important;
    font-weight: 400;
    padding-bottom: 2rem;
}

.img-centered {
    margin: 0 auto;
}

.bg-white {
    background-color: #fff;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.bg-black {
    background-color: #000;
}

.gv-location-headline {
    text-transform: none;
    font-weight: 700;
    padding-bottom: 1em;
}

.gv-location-button {
    background-color: #26635b;
    border: none;
    padding: 0.75em 2em;
}
.gv-location-button:hover {
    background-color: #358b80;
}

.iframe-rwd {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#services {
    background-color: #18554f;
    color: white;
}
#services h1 {
    font-size: 8em;
    color: white;
    font-weight: 700;
}
.service-heading {
    margin: 0.5em 1em;
    padding: 1em;
    text-transform: none;
    font-size: 24px;
    border-bottom: 2px solid #d4bb70;
}

.gv-location-panel {
    padding-left: 2em;
    margin: 0 1em;
    width: 90%;
}

.gv-location-panel .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

.v-center {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
}

.h-center {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
}

#visitUs {
    color: black;
    text-align: left;
}

.visitUs--card h3 {
    font-size: 1.8em;
    font-weight: 700;
}

.visitUs--card h3:nth-of-type(2) {
    margin-top: 4.5rem;
}

.visitUs--card p {
    line-height: 1.5em;
    font-size: 1.5em;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0.5em;
    opacity: 100%;
}

.visitUs--card h5 {
    line-height: 1em;
    font-size: 1.2em;
    opacity: 70%;
}

.logo--headline {
    font-weight: 700;
    font-size: 3.5em;
    padding-bottom: 1em;
    color: #000;
}

#chooseUs {
    color: white;
    text-align: center;
}

.chooseUs--headline {
    font-weight: 700;
    font-size: 3.5em;
    padding-bottom: 1em;
    color: #fff;
}

.chooseUs--card h3 {
    font-size: 1.8em;
}

.chooseUs--card p {
    line-height: 1.5em;
    font-size: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    opacity: 70%;
}
.chooseUs--card a {
    color: white;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #d4bb70 !important;
}
@media (max-width: 767px) {
    header .intro-text {
        padding-top: 4em;
        padding-bottom: 1em;
    }

    header .intro-text .intro-lead-in {
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-weight: 700;
    }

    header .intro-table {
        padding-bottom: 6rem;
    }

    header .tables {
        margin: 2em;
    }

    .gvMainSection--headline {
        font-size: 3rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }

    #services h1 {
        font-size: 14vw;
        color: white;
        font-weight: 700;
    }

    .chooseUs--card {
        text-align: left;
    }
    .chooseUs--card h3 {
        font-size: 1.5em;
    }
    .chooseUs--card p {
        line-height: 1.5em;
        font-size: 1.2em;
    }
    footer span {
        line-height: 1.5em;
        font-size: 1.2em;
    }
}
footer {
    text-align: left;
    padding-bottom: 3em;
    padding-top: 3em;
    background-color: #fff;
}
.footer-container {
    margin-left: 7%;
    width: 26%;
}
footer h3.title {
    text-transform: none;
    line-height: 40px;
    font-weight: bold;
    color: black !important;
}
footer a {
    color: black;
}
footer span {
    line-height: 2em;
    font-size: 1.2em;
    color: black;
    letter-spacing: -0.03em;
}
footer img {
    margin-right: 0.5em;
    opacity: 100%;
}

#logo-section img {
    margin: auto;
    display: block;
}

.tables {
    border: 2px solid #d4bb70;
    height: 20em;
    background-color: rgba(0, 0, 0, 0.352);
}

/*  GO FULL WIDTH BELOW 768 PIXELS */
@media only screen and (max-width: 768px) {
    header .intro-text img {
        width: 50%;
    }

    .tables {
        border: 2px solid #d4bb70;
        height: aut;
        background-color: rgba(0, 0, 0, 0.352);
    }

    #services {
        background-color: #18554f;
        color: white;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    #services h1 {
        font-size: 4em !important;
        color: white;
        font-weight: 700;
    }
    .service-heading {
        margin: 0.5em 1em;
        padding: 1em;
        text-transform: none;
        font-size: 3rem;
        border-bottom: 2px solid #d4bb70;
    }



    #visitUs {
        color: black;
        text-align: left;
        padding: 4rem;
    }

    .visitUs--card h3 {
        font-size: 1.8em;
        font-weight: 700;
    }

    .visitUs--card h3:nth-of-type(2) {
        margin-top: 4.5rem;
    }

    .visitUs--card p {
        line-height: 1.5em;
        font-size: 1.5em;
        padding-left: 0em;
        padding-right: 0em;
        padding-top: 0.5em;
        opacity: 100%;
    }

    .visitUs--card h5 {
        line-height: 1em;
        font-size: 1.5em;
        opacity: 100%;
    }

    .iframe-rwd
    {
        display: none;
      }



      #carousel {
          background-color: #d4bb70;
          padding: 4rem;
      }
      .carousel-heading {
          font-weight: 700;
          text-transform: none;
          padding-bottom: 0.5em;
      }
      .carousel-body {
          width: 100%;
          line-height: 1.5em;
          padding-bottom:0.5em;
      }

      .gv-location-panel {
          padding-left: 0em;
          margin: 0em;
          width: 90%;
      }
      .logo--headline {
          font-weight: 700;
          font-size: 3.5em;
          padding-bottom: 0em;
          color: #000;
      }

      #logo-section {
          padding-top: 4rem;
          padding-bottom: 2rem;
      }

      #logo-section img {
          margin: auto;
          display: block;
          margin-bottom: 1em;
      }



      #chooseUs {
          color: white;
          text-align: center;
          padding: 4rem;
      }

      .chooseUs--headline {
          font-weight: 700;
          font-size: 3.5em;
          padding-bottom: 1em;
          color: #fff;
      }

      .chooseUs--card h3 {
          font-size: 1.8em;
          padding-left: 3.7rem;
      }

      .chooseUs--card p {
          line-height: 1.5em;
          font-size: 1.5em;
          padding-left: 2em;
          padding-right: 2em;
          padding-top: 0.5em;
          padding-bottom: 4rem;
          opacity: 70%;
      }
      .chooseUs--card a {
          color: white;
          text-decoration: underline;
      }





      footer span {
          line-height: 1.5em;
          font-size: 1.2em;
      }
  }
  footer {
      text-align: left;
      padding-bottom: 3em;
      padding-top: 1em;
      background-color: #fff;
      padding-left: 2em;
      padding-right: 2em;
  }
  .footer-container {
      margin-left: 7%;
      width: 26%;
  }
  footer h3.title {
      text-transform: none;
      line-height: 40px;
      font-weight: bold;
      color: black !important;
      padding-top: 2rem;
  }
  footer a {
      color: black;
  }
  footer span {
      line-height: 2em;
      font-size: 1.2em;
      color: black;
      letter-spacing: -0.03em;

  }
  footer img {
      margin-right: 0.5em;
      opacity: 100%;
  }


}
